.product_options a{
    padding-left:20px;
    padding-right:20px;
    width:auto;
}
#top_main{
    height: 140px;
}
.logo img{
    height: 100px;
}

.topSeachForm {
    width: 100%;
    padding-top: 25px;
}

.topSeachForm form {
    position: relative;
    width: 500px;
    float: right;
}